language: ruby
rvm:
- 2.3.5
deploy:
  provider: heroku
  api_key:
    secure: qm14HYooDpP2EDuY6PfORp76zSpiORJWpgk6kJkEyzalohJ3nqfmfrS9ecPd2ZhKvMxXXjtxFOjov5iWK7sw/XeUpurpjWQTgkIw1RRjc115Mj+DQfd6RXPLMRxW5cb0MZlYNmcCLANCTBnVRJ9RsTWl5eWa/yO0i82eBP7tmb3IPPbrRARYBuYYs08T/x/GbrG8HhE7Zl1tCdpJCgADCxdYUtKKJQA03A7L9PRKIIiBBAt2HnyfMWMm2L8Kc0h4AmzeSq9JTGVm8pOevuQVdWuVmwM1NyHl2uQok84yVoP/LMUbF2ObEx6Zg2KMIosQwxngwaJ/iar1QHLgrBSDDjppphlpVaSeOGVgd5ENuhQPLyrJDJuAMQU9wV5oU3CYbAIIrA9Q52K1VyTUQEW/psYule6wlp1zvAnKBwHOH67RU8+EHuBHdlXyAw3OGB/jG4xCpIaJhOB1N+L2ZqF86kAbgjLXegM++thUt4DwyMCJ4b/RLW5kDp8l7QedukF1qLojdj9iBJZvjKl4oouwXMskz0302GNB2pAPN2CE2rGcUcx+hD9LYxmabGcklqV9qC0qUJ/R+8oraW2eTqrIF4DKpXi/e5rBO0IwnsbO0DzNu9Yo8SJ7lEcLtDqIjuJzg22njA7/2Q/Fy5fbYCLL7cK9XXSv4IEEOxgeXl43S4g=
  app: remy-guillaumot
  on:
    repo: remyguillaumot/projet
