<!DOCTYPE html>
<html>
<head>
  <p>
    <img src="https://i.pinimg.com/736x/eb/eb/a8/ebeba87abc33327d847a17a5272a667c--cute-penguins-all-about-penguins.jpg" alt="Smiley face" height="auto" width="auto">
  </p>
</head>
</html>
