<!DOCTYPE html>
<html>
<head>
  <iframe src="https://player.twitch.tv/?channel=corobizar" frameborder="0" allowfullscreen="true" scrolling="no" height="700" width="1240"></iframe>
  <a href="https://www.twitch.tv/corobizar?tt_content=text_link&tt_medium=live_embed" style="padding:2px 0px 4px; display:block; width:345px; font-weight:normal; font-size:10px; text-decoration:underline;"></a>
  <p>
    <img src="https://i.pinimg.com/736x/eb/eb/a8/ebeba87abc33327d847a17a5272a667c--cute-penguins-all-about-penguins.jpg" alt="Smiley face" height="auto" width="auto">
    
  </p>
</head>
</html>
